# 프로젝트 제외 경로
/bin/
/JAVA_basic/.settings/
/.settings/
/.metadata/
/.idea/
/jsp_command_bootstrap/WebContent/resources/bootstrap/
/JSP_bootstrap/WebContent/resources/bootstrap/
/jsp_command_bootstrap/WebContent/resources/bootstrap/
/jsp_command_bootstrap/WebContent/resources/bootstrap/build/js/
/jsp_command_bootstrap/WebContent/resources/bootstrap/build/scss/
/commend_test_and_study/WebContent/resources/
/commend_test_and_study/WebContent/resources/bootstrap/
/commend_test_and_study/WebContent/resources/bootstrap/
